.App {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  /* background-color: ghostwhite; */
}

h1{
  color: #2d3436;
}


.transcript{
  box-shadow:  0px 9px 19px 9px rgba(0,0,0,0)  ;
  height: 35vh;
  width: 85%;
  margin: 0 auto 5% auto;
  padding: 1.25rem;
  overflow-y: scroll;
  color: #2d3436;
  background: whitesmoke;
  box-shadow: 0px 14px 13px -2px rgba(0,0,0,0.46);
}

input{
  width: 55%;
  margin-right: .5rem;
  height: 1.5rem;
}

button{
  padding: .32rem;
}

